.my-custom{
    background-color: rgb(242, 122, 234);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-style:normal;

}

body{
    background-color: aquamarine;
}

.square{
    width: 150px;
    height: 150px;
    display: inline-block;
    color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    color: bisque
}