.login-text{
    font-size: 70px;
    color: rgb(33, 58, 159);;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;

}

.form-group{
    color: rgba(175, 118, 96, 0.814);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}